{% extends 'index.html' %}
{% block title %}Crear Remodelación - BuildSmartMaster{% endblock %}
{% block content %}
<h1 class="titulo">Create Remodel</h1>
<div class="box">
    <form method="post" class="formulario">
        {% csrf_token %}
        {{ work_form.as_p }}
        
        {% for stage in stages %}
            <div id="materials_{{ stage.id }}" class="materials-list" style="display: none;">
                <h3>{{ stage.name }}</h3>
                {% for material in materials_by_stage.stage.id %}
                    <label>
                        <input type="checkbox" name="materials_{{ stage.id }}" value="{{ material.id }}">
                        {{ material.name }}
                    </label>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
