{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <h1>Materials</h1>

  <!-- Formulario de búsqueda de materiales -->
  <form action="{% url 'materials:material_list' %}" method="GET" class="mt-3 mb-3">
    <input type="text" name="query" placeholder="Search materials..." class="form-control" value="{{ query }}">
    <button type="submit" class="btn btn-primary mt-2">Search</button>
  </form>  

  <!-- Enlace para agregar nuevo material -->
 
  <button type="button" class="btn btn-primary js-create-material" data-url="{% url 'materials:material_create' %}">Add New Material</button>
 
</tr>
  <!-- Lista de materiales locales -->
  <h2>Materials</h2>
  <ul class="card-material" style="list-style-type: none;">
    {% for material in materials_local %} 
    <li>
      <div class="card">
        {% if material.image %}
          <img src="{{ material.image.url }}" class="card-img-top" alt="{{ material.name }}">
        {% else %}
          <img src="{% static 'images/default_material_image.jpg' %}" class="card-img-top" alt="No image available">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title"><strong>{{ material.name }}</strong></h5>
          <p class="card-text">{{ material.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ material.category }}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'materials:material_update' material.pk %}" class="btn btn-primary">Edit (Page)</a>
          <button type="button" class="btn btn-primary js-update-material" data-url="{% url 'materials:material_update' material.pk %}"> Edit (modal)</button>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- Resultados de búsqueda de API -->
  
  <div class="container">
    <h2>Search Results</h2>
    {% if materials_search %}
      <ul class="card-material" style="list-style-type: none;">
        {% for result in materials_search %}
        <li>
          <div class="card">
            <img src="{{ result.image.0.4 }}" class="card-img-top" alt="{{ result.name }}">
            <div class="card-body">
              <tr>
                <td> <h5 class="card-title"><strong>{{ result.name }}</strong></h5></td>
                <td><p class="card-text">Price: {{ result.unit_price }}</p></td>
                <!-- Other fields -->
                <td>
                  <button type="button" class="btn btn-primary js-create-material" data-url="{% url 'materials:material_create' %}">Edit</button>
                </td>
            </tr>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No search results found.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
