<!-- templates/constructionMaterials/material_category_list.html -->

{% extends 'base.html' %}
<a href="{% url 'core:index' %}">Link a la página de inicio de 'core'</a>
{% block title %}Lista de Categorías - ConstrucPlan{% endblock %}

{% block content %}
<h1>Categorías</h1>
<ul style="list-style-type: none;">
    {% for category in categories %}
    <li><a href="{% url 'materials:material_category_detail' category.pk %}">{{ category.name }}</a></li>
    <li>{{ category.description }}</li>
    {% empty %}
    <li>No hay categorías disponibles.</li>
    {% endfor %}
</ul>
<a href="{% url 'materials:material_category_create' %}">Crear Nueva Categoría</a>
{% endblock %}
