{% extends "index.html" %}
{% load static %}
{% block title %}Materials and Tools{% endblock %}
{% block content %}
<div class="container mt-4">
  <h1 class="titulo">Materials and Tools</h1>

  <!-- Formulario de búsqueda de materiales -->
  <form action="{% url 'materials:material_list' %}" method="GET" class="mt-3 mb-3">
    <input type="text" name="query" placeholder="Search materials..." class="form-control" value="{{ query }}">
    <button type="submit" class="btn btn-primary mt-2">Search</button>
  </form>  

  <!-- Enlace para agregar nuevo material -->
  <a href="{% url 'materials:material_create' %}" class="btn btn-primary openMaterialModal" data-url="{% url 'materials:material_create' %}">Add New Material </a>
  <!-- Lista de materiales locales -->
  <h2 class="card-title">Materials</h2>
  <ul class="card-material" style="list-style-type: none;">
    {% for material in materials_local %} 
    <li>
      <div class="card">
        {% if material.image %}
          <img src="{{ material.image.url }}" class="card-img-top" alt="{{ material.name }}">
        {% else %}
          <img src="{% static 'images/images.jpeg' %}" class="card-img-top" alt="No image available">
        {% endif %}
        <div class="card-body">
          <a href="{% url 'materials:material_detail' material.pk %}"> <h5 class="card-title"><strong>{{ material.name }}</strong></h5> </a>
          
          <p class="card-text">{{ material.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ material.category }}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'materials:material_update' material.pk %}" class="btn btn-primary" data-url="{% url 'materials:material_update' material.pk %}">Edit </a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- Resultados de búsqueda de API -->
  
  <div class="container">
    <h2 class="card-title">Search Results</h2>
    {% if materials_search %}
      <ul class="card-material" style="list-style-type: none;">
        {% for result in materials_search %}
        <li>
          <div class="card">
            <img src="{{ result.image.0.4 }}" class="card-img-top" alt="{{ result.name }}">
            <div class="card-body">
              <tr>
                <td> <h2 class="card-title" style="text-decoration: none;"><strong>{{ result.name }}</strong></h2></td>
                <td><p class="card-text">Price: {{ result.unit_price }}</p></td>
                <!-- Other fields -->
                <td>
                  <a href="{% url 'materials:material_create' %}" class="btn btn-primary openMaterialModal" data-url="{% url 'materials:material_create' %}">Add </a>
                </td>
            </tr>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <h5>No search results found.</h5>
    {% endif %}
  </div>
</div>
{% endblock %}
