<!-- materials/material_category_form.html -->

{% extends 'index.html' %}
{% load static %}
{% block title %}{{ view.object.pk|yesno:"Editar,Crear" }} Category{% endblock %}

{% block content %}
{% csrf_token %}
<h1>Create New Category</h1>
<form method="post" class="formulario">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group">
            {{ form.name.label_tag }}
            <br>
            {{ form.name }}
        </div>
        <br>
        <div class="form-group col-lg-8">
            {{ form.description.label_tag }}
            <br>
            {{ form.description }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}