/* Reset de estilos para asegurar consistencia en navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el cuerpo del documento */
body {
  padding-top: 56px;
  font-family: Arial, sans-serif;
  background-color: #81817c;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece el alto mínimo del cuerpo al 100% del viewport */
  background-image: url();
  background: linear-gradient(#9a9a9c91, #bcb8c5e7);
}

/* Estilos para el título principal */
.titulo {
  font-family: fantasy;
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
  padding: 19px;
  color: #d88811cc;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

/* Estilos para los encabezados h5 */
h5 {
  font-size: calc(0.625rem + 1.5vw);
  text-align: center;
  padding: 19px;
  color: #746951cb;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

/* Estilos para los botones primarios */
.btn-primary {
  background-color: #2b2929 !important;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Estilos para el encabezado (header) */
header {
  width: 100%; /* Asegura que el header ocupe todo el ancho */
}

header nav {
  background-color: #e41212;
  position: absolute;
}

header nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #ffc107;
}

/* Estilos para el contenido de la barra de navegación (nav) */
.navbar {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  flex-shrink: 0; /* Evita que el footer se encoja */
}

/* Estilos para los enlaces de navegación */
nav a {
  font-family: fantasy;
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
  padding: 19px;
  color: #d88811cc;
  text-transform: uppercase;
  -webkit-text-stroke-color: black;
}

/* Estilos para la marca de la barra de navegación */
.navbar-brand {
  font-family: fantasy;
  font-size: calc(0.575rem + 1.5vw);
  text-align: center;
  padding: 19px;
  color: #d88811cc;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #717375 !important;
  width: 100%;
  height: 5rem !important;
}

/* Estilos para el contenido principal (main) */
main {
  flex: 1; /* Expande el contenido principal para llenar el espacio disponible */
}

/* Estilos para las tarjetas de materiales */
.card-material {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card {
  width: 18rem;
  height: 30rem; /* Altura fija para todas las cards */
  border: 2px solid;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.card1{
  background-color: #b8b8b8;
  border: 0.5px solid ;
  text-align:center;
  margin: 5px;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.card-text,
.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Añade elipsis a textos largos */
}

.card-detail{
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  text-align: start;
}
/* Estilos para el pie del modal */
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para las tarjetas de etapas */
.card-stage {
  width: 18rem;
  height: 10%;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  text-align: start;
  color: #0a0a0a;
}

/* Estilos para los formularios */
.formulario {
    border: 3px solid;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 25px;
    text-align: start;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
}
.small-textarea {
  width: 60%; /* Asegura que el textarea ocupe todo el ancho disponible */
  height: 40px; /* Ajusta la altura según sea necesario */
  resize: vertical; /* Permite que el usuario cambie el tamaño verticalmente si lo desea */
}

.data-total {
  border: 3px solid;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 25px;
  text-align: start;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: stretch;
  justify-content: space-evenly;
}

/* Estilos para el título de la tarjeta */
.card-title {
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #0a0a0a;
  text-decoration: none;
}

/* Estilos para las imágenes */
.image {
  width: 100%;
  height: 25rem;
  margin: 15px;
}


/* Estilos para el pie de página (footer) */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  flex-shrink: 0; /* Evita que el footer se encoja */
}

footer p {
  margin: 0;
  color: #6c757d; /* Color gris para el texto del pie de página */
}
