/* Reset de estilos para asegurar consistencia en navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  background-color: #81817c;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece el alto mínimo del cuerpo al 100% del viewport */
  background-image: url();
  background: linear-gradient(#9a9a9c91, #bcb8c5e7);
}

.titulo {
 font-family: fantasy;
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
  padding: 19px;
  color: #d88811cc;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
h5 {
  font-size: calc(0.625rem + 1.5vw);
  text-align: center;
  padding: 19px;
  color: #746951cb;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
.btn-primary {
  background-color: #2b2929;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Estilos para el encabezado (header) */
header {
  width: 100%; /* Asegura que el header ocupe todo el ancho */
}

header nav {
  background-color: #e41212;
  position: absolute;
 
  
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #717375 !important;
    width: 100%;
    height: 5rem !important;
}


header nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #ffc107;
}

/* Estilos para el contenido principal (main) */
main {
  flex: 1; /* Expande el contenido principal para llenar el espacio disponible */
}

/* Estilos para el pie de página (footer) */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  flex-shrink: 0; /* Evita que el footer se encoja */
}

/* Estilos para los enlaces de navegación */
nav a {
font-family: fantasy;
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
  padding: 19px;
  color: #d88811cc;
  text-transform: uppercase;
  
  -webkit-text-stroke-color: black;
}
.navbar navbar-expand-lg bg-body-tertiary{
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    flex-shrink: 0; /* Evita que el footer se encoja */
}
.navbar-brand {
    font-family: fantasy;
    font-size: calc(0.575rem + 1.5vw);
    text-align: center;
    padding: 19px;
    color: #d88811cc;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}



.card-material {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card {
  width: 18rem;
  height: 30rem; /* Altura fija para todas las cards */
  border: 2px solid;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  
}


.card-img-top {
  height: 200px; /* Ajusta la altura de la imagen según tus necesidades */
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
}

.card-body {
  flex: 1;
  overflow: hidden; /* Oculta el desbordamiento de contenido */
 background-color: #d9edf3;
}

.card-text,
.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Añade elipsis a textos largos */
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-stage {
  width: 18rem;
  height: 10%;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}


.formulario{
    
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-align: start;
}
.card-title {
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #0a0a0a;
    text-decoration:none;
    
}
.card-stage{
    width: 18rem;
    height: 10%;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-align: start;
    color: #0a0a0a;
}
.image{
    width: 100%;
    height: 25rem;
    /*object-fit: cover;*/
    margin: 15px;
}

.visually-hidden{
    color: #0a0a0a;
}
