<!-- templates/stages/stage_list.html -->
{% extends 'index.html' %}

{% block title %}List Stages{% endblock %}

{% block content %}
<h1 class="titulo"> Stages </h1>

<div class="formulario">
    {% for stage in stages %}
    <ul class="card-stage" >
        <a href="{% url 'stages:stage_detail' stage.pk %}"><h2 class="card-title">{{ stage.name }}</h2></a><br>
        {% for material in stage.materials.all %}
            <li>{{ material.name }}</li>
        {% endfor %}
    </ul>
    {% empty %}
    <li>No hay etapas disponibles.</li>
    {% endfor %}
</div>

<a href="{% url 'stages:stage_create' %}" class="btn btn-primary">New Stages</a>
{% endblock %}
